<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Fatema</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <h1>About Fatema</h1>
    <p><strong>Fatema</strong> is a software engineer who likes to code and build amazing applications.</p>

    <h2>list of technologies: </h2>
    <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>React</li>
        <li>Node.js</li>
    </ul>

    <h2>Education: </h2>
    <p>Fatema has a degree in Information Systems from University of Bahrain</p>

    <h2>Type of future work she wants in future: </h2>
    <p>Fatema wants to work as a full-stack developer in the future.</p>

    <a href="/">Back to Home</a>
</body>
</html>